<div class="container">
  <div class="row">
    <div class="col-4 mx-auto">
      
    </div>
    <div class="col-8">
      <h4 class="border border-success rounded text-center" style="margin-top:20px; padding:10px; width:18%;"><b>新規投稿</b></h4>
        <table class=>
          <tbody>
            <tr>
              <th>タイトル</th>
              <td><%=  %></td>
            </tr>
             <tr>
              <th>商品説明</th>
              <td><%=  %></td>
            </tr>
             <tr>
              <th>税込価格<br>(税抜価格)</th>
              <td><%= %></td>
            </tr>
             <tr>
              <th>ジャンル</th>
              <td><%=  %></td>
            </tr>
             <tr>
              <th>販売ステータス</th>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
